._col-small { // To put 'View board' buttons at the end of the table.
  width: 190px;
}

#btn-new-soundboard {
  margin: 5px 0px;
  float: right;
}

#boards td { // Overwrite on table
  border-top: 1px solid #738ba9;
}

#board-title {
  margin: 8px 0px;

  color: #FFF;
  text-align: center;
}

.sound-row [class*="-1"] { // Edit spacing between columns
  margin: 1px 0px;
  padding: 0px 1px;
}

.sound-col {
  margin: 0px;
  padding: 0px;
  border: none;
}

.sound-space {
  height: 80px;
  background-color: #4a688d;
}

.sound-space:hover {
  background-color: #738ba9;

  cursor: pointer;
}

.sound-edit:hover {
  background-color: orangered;
}