// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#nav {
  height: 50px;

  background-color: #29496f;
}

#btn-soundboards {
  margin-top: 8px;

  background-color: #FFF;

  color: #29496f;
}

#btn-edit-mode {
  margin-top: 8px;

  color: #29496f;
}

#info {
  margin: 0px;
  padding-top: 300px;

  text-align: center;
}